:root {
  /* COLORS */
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);

  --gradient-start: hsl(6, 100%, 80%);
  --gradient-end: hsl(335, 100%, 65%);

  /* FONT */
  --default-font: 'Raleway', sans-serif;
  --default-fontsize: 14px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--pale-blue);
  font-size: var(--default-fontsize);
  font-weight: 400;
  font-family: var(--default-font);

  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--very-dark-blue);
  background-image: url(images/bg-desktop.png);
  background-position: bottom;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 105px;
}

.logo-container {
  background-color: var(--dark-blue);
  /* padding: 30px 130px 30px 30px; */
  /* width: 150px; */
  flex: 0 0 300px;
  padding: 30px;
  border-radius: 7px;
  border-top-right-radius: 80px;
}

.icons {
  margin-top: 20px;
  display: flex;
}

.icon {
  background-color: var(--very-dark-blue);
  height: 40px;
  width: 40px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:not(:last-child) {
  margin-right: 15px;
}

.storage-container {
  background-color: var(--dark-blue);
  margin-left: 20px;
  border-radius: 7px;
  padding: 30px;

  position: relative;
}

.storage-container > p {
  margin-bottom: 15px;
}

.message {
  background-color: #fff;
  font-size: 10px;
  color: var(--very-dark-blue);
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 7px;
  display: inline-block;

  /* padding: 10px 15px 20px 15px; */
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 75%, 0 75%); */

  position: absolute;
  right: 30px;
  top: -35px;
}

.message::after {
  content: '';
  height: 30px;
  width: 30px;
  background-color: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 100%);

  position: absolute;
  right: 15px;
  top: 50px;
}

.message p {
  display: flex;
  align-items: center;
}

.message .highlight {
  font-size: 30px;
  margin-right: 5px;
}

.range {
  background-color: var(--very-dark-blue);
  width: 400px;
  height: 15px;
  border-radius: 10px;
  margin: 5px auto;

  display: flex;
  align-items: center;
}

.range-fill {
  width: calc(100% - 18.5%); /* (1000px - 185px) * 100% = 18.5% */
  height: 11px;
  margin-left: 2px;
  border-radius: 10px;
  background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.circle {
  height: 9px;
  width: 9px;
  margin-right: 2px;
  border-radius: 50%;
  background-color: #fff;
}

.range-legend {
  display: flex;
  justify-content: space-between;
}

.highlight {
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MOBILE */
@media only screen and (max-width: 375px) {
  body {
    background-image: url(images/bg-mobile.png);
    background-position: center;
    background-size: cover;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .logo-container {
    flex: 0 0 auto;
    align-self: stretch;
  }

  .storage-container {
    margin-left: 0;
    margin-top: 20px;
    padding-bottom: 50px;
  }

  .message {
    /* position: relative; */
    right: 50%;
    top: 50%;
    transform: translate(50%, 50%);
  }

  .message::after {
    display: none;
  }

  .range {
    width: 250px;
  }
}
